<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <!--
hMailServer for testing mail client. It requires DCOM permission to be configured correctly so hMailServer can
be managed remotely.
1. Use run menu, and type 'DCOMcnfg' and press enter
2. Navigate to Component Services > Computers > My Computer > DCOM Config
3. Find hMailServer under DCOM Config submenu
4. Right click hMailServer and choose Properties
5. On hMailServer Properties then open Security tab and 
6. choose Customize for Launch and Activation Permissions then click Edit
7. Add Everyone with allowed permissions: Local/Remote Launch, Local/Remote Activation then click OK
    -->
        <add key="hMailServer:Address" value="localhost"/>
        <add key="hMailServer:Account" value="Administrator"/>
        <add key="hMailServer:Password" value="P@ssw0rd"/>
    </appSettings>
</configuration>